---
import LayoutMain from "^layouts/LayoutMain.astro";
import "^styles/events.scss";

const pageTitle = "Streaming Weekend";
---
<LayoutMain subtitle={ pageTitle }>
    <h1>{ pageTitle }</h1>

    <h2>February 24&ndash;26, 2023</h2>
<!--
  <div slot="navMenu">
    <li><a href="schedule">Schedule</a></li>
  </div> -->
</LayoutMain>
