---
import type { ScheduleEvent } from '^types/index';
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import timezone from 'dayjs/plugin/timezone'; // dependent on utc plugin
import { EventWindow } from '^scripts/EventWindow';

dayjs.extend(utc);
dayjs.extend(timezone);

type Props = {
    event: ScheduleEvent;
}
const { event } = Astro.props;

const eventStreamingWeekend = new EventWindow('StreamingWeekend');

const stringifyTime = (event: ScheduleEvent): string => {
  if (!event.all_weekend) {
    const start = dayjs(event.datetime_start).tz(eventStreamingWeekend.timezone).format('h:mma');

    if (event.datetime_end) {
      return `${start} to ${dayjs(event.datetime_end).tz(eventStreamingWeekend.timezone).format('h:mma')}`;
    }

    return start;
  }

  return '';
};
---
<div id={ dayjs(event.datetime_start).tz(eventStreamingWeekend.timezone).format('YYYYMMDDHHmm') } class:list={['event', { highlight: event.highlight } ]}>
    <div class="when">{ stringifyTime(event) }</div>
    <div class="what">
        <h3 class="title"set:html={ event.title }></h3>
        <p class="desc" set:html={ event.desc }></p>
        { event.howto && <p class="howto" set:html={ event.howto }></p> }
    </div>
    { event.Twitch && <div class="watch">
      <a href={`https://twitch.com/${event.Twitch}`}>
        <img alt="link to Twitch" title="KFD on Twitch" src="/images/logo-Twitch-250.png" />
      </a>
    </div> }
</div>
