---
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";

dayjs.extend(customParseFormat);

const { timeSlot } = Astro.props;
const gridRow = { gridRow: `time-${timeSlot}` };
const timeReadable = dayjs(timeSlot, 'HHmm').format('h:mma')
---
<h2 class="time-slot" style={gridRow}>{timeReadable}</h2>
