---
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";

dayjs.extend(customParseFormat);

const { timeSlot, empty } = Astro.props;
const classList = [ 'time-slot' ];
if (empty) {
    classList.push('empty-time');
}
const gridRow = { gridRow: `time-${timeSlot}` };
const timeReadable = dayjs(timeSlot, 'HHmm').format('h:mma')
---
<div class:list={classList} style={gridRow}>{timeReadable}</div>
