---
import "./twitch.scss";
---
<div id="Twitch-badge">
    <i class="fa-solid fa-video"></i>Streaming Now
</div>

<script>
    import { Twitch } from "./Twitch";
    import { EventWindow } from "^scripts/EventWindow";
    import CONFIG from "^config/config.json";

    let badge: HTMLDivElement;
    const checkLive = () => {
        Twitch.isCurrentlyStreaming(["kyfrieddice", "mst3k"]).then(
            (isLive) => {
                if (isLive && EventWindow.hasStarted && !EventWindow.hasEnded && badge) {
                    badge.classList.add("live");
                    badge.addEventListener('click', () => {
                        location.href = 'https://www.twitch.tv/kyfrieddice';
                    });
                } else if (badge) {
                    badge.classList.remove("live");
                }
            }
        );
    };

    document.addEventListener("DOMContentLoaded", () => {
        badge = document.getElementById("Twitch-badge") as HTMLDivElement;

        try {
            checkLive();
            setInterval(checkLive, CONFIG.twitch.polling_frequency_sec * 1000);
        } catch (e) {
            console.error("Twitch indicator caught the following error.", e);
        }
    });
</script>
