---
import "^styles/twitch.scss";
import type { EventName } from "^scripts/EventWindow";

type Props = {
    eventName: EventName;
    overrideDates?: boolean;
};

const { overrideDates = false, eventName } = Astro.props;
---
<div id="Twitch-badge" data-override-dates={ overrideDates } data-event-name={ eventName }>
    <i class="fa-solid fa-video"></i>Streaming Now
</div>

<script>
    import { isCurrentlyStreaming } from "./Twitch";
    import { EventWindow } from "^scripts/EventWindow";
    import CONFIG from "^config/config.json";
    import type { EventName } from "^scripts/EventWindow";

    let badge: HTMLDivElement;
    const checkLive = () => {
        if (badge) {
            const overrideDates = badge.dataset.overrideDates === 'true';
            const eventWindow = new EventWindow(badge.dataset.eventName as EventName);
            if ((eventWindow.hasStarted && !eventWindow.hasEnded) || overrideDates) {
                isCurrentlyStreaming(["kyfrieddice"]).then(
                    (isLive) => {
                        if (isLive) {
                            badge.classList.add("live");
                            badge.addEventListener('click', () => {
                                location.href = 'https://www.twitch.tv/kyfrieddice';
                            });
                        } else {
                            badge.classList.remove("live");
                        }
                    });
            } else {
                badge.classList.remove("live");
            }
        }
    };

    document.addEventListener("DOMContentLoaded", () => {
        badge = document.getElementById("Twitch-badge") as HTMLDivElement;

        try {
            checkLive();
            setInterval(checkLive, CONFIG.twitch.polling_frequency_sec * 1000);
        } catch (e) {
            console.error("Twitch indicator caught the following error.", e);
        }
    });
</script>
