---
import LayoutMain from "^layouts/LayoutMain.astro";

const pageTitle = '"Imagine RMHC" Sims Shell Challenge';
---
<LayoutMain subtitle={ pageTitle }>
  <h1>{ pageTitle }</h1>

  <p>The mission of Ronald McDonald House of the Bluegrass is to keep families
  close when caring for a sick child. To accomplish this mission, a 21 bedroom
  house was established in Lexington in 1984 to provide a safe and comfortable
  place for families to stay when their children are seeking medical treatment
  at Lexington's award-winning medical facilities.</p>

  <p>In the nearly 40 years since RMHC Bluegrass opened, the organization has
  grown significantly and with that, the need for a larger house has become
  necessary. Help us imagine the future of the House by participating in the
  "Imagine RMHC" Sims Build Challenge!</p>

  <h2>How to participate</h2>
  <ul>
    <li>The Sims 4 is free to play and available for download from <a href="https://www.ea.com/games/the-sims/the-sims-4/download">EA</a>,
    <a href="https://store.steampowered.com/app/1222670/The_Sims_4/">Steam</a>, <a href="https://store.epicgames.com/en-US/p/the-sims-4">Epic Games</a> and others.</li>
    <li>Download the shell from <a href="https://www.ea.com/games/the-sims/the-sims-4/pc/gallery/958AB9BAA1D111ED83B57BD05C5BC5BF">The Sims 4 Gallery</a></li>
    <li>Choose a part of the House that you'd like to design. All these locations are pivotal in providing care for families in their times of need.</li>
    <ul>
      <li>guest room*</li>
      <li>kitchen*</li>
      <li>dining room*</li>
      <li>living room</li>
      <li>playroom</li>
      <li>playground</li>
      <li>patio</li>
      <li>butterfly garden</li>
      <li>building exterior</li>
      <li>office</li>
    </ul>
    <li>Use any currently-available Sims content. Please do not use custom content for this challenge.</li>
    <li>Upload your design to the gallery and include "RMHC Challenge" in the name.
      <em>Designs must be submitted by February 20.</em></li>
  </ul>

  <p>*The guest room, kitchen, and dining room have some requirements which
  assist in keeping the space comfortable for our guest families. These rooms
  must include the following:</p>

  <div class="cards-container">
    <div>
      <h3>Guest Room</h3>
      <ul>
        <li>1 or 2 beds</li>
        <li>chair</li>
        <li>dresser/clothing space</li>
        <li>en suite bathroom</li>
        <li>walk-in/accessible shower or bathtub</li>
        <li>toilet</li>
        <li>sink with cabinet</li>
      </ul>
    </div>
    <div>
      <h3>Commercial Kitchen</h3>
      <ul>
        <li>refrigerator</li>
        <li>freezer</li>
        <li>dishwasher</li>
        <li>range oven</li>
        <li>sink (3 basins)</li>
      </ul>
    </div>
    <div>
      <h3>Dining Room</h3>
      <ul>
        <li>at least 8 tables with 4 chairs at each table</li>
        <li>highchairs</li>
        <li>coffee maker</li>
        <li>sink</li>
        <li>water dispenser</li>
        <li>vending machine</li>
      </ul>
    </div>
  </div>

  <p>Other spaces can be left up to interpretation. Aside from the required
  items to include in each space, please decorate to your heart's content.
  As you're designing, please think about the comfort of guest families. Is
  this a space in which <em>you</em> would feel comfortable and safe?</p>

  <p>Winners will be chosen by representatives of RMHC Bluegrass and their
  designs presented during Givers & Gamers Streaming Weekend on February 25, in
  a stream hosted on Twitch by <a href="http://www.twitch.tv/xbasicxwitchx">xBasicxWitchx</a>.
  Prizes will be awarded and an element of the design may be incorporated into
  the future RMHC Bluegrass expansion project with a plaque featuring the
  designer's name.</p>
</LayoutMain>
