---
import LayoutBlank from "^layouts/LayoutBlank.astro";
import "^styles/golf/golf.scss"
---
<LayoutBlank title="G&G GWYF Handicaps">
  <div class="background">
    <div class="sky"></div>
    <div class="green"></div>
  </div>

  <div class="handicaps-container">
    <table>
      <thead>
        <tr>
          <th>Fundraiser</th>
          <th>Handicap</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody id="handicaps">
      </tbody>
    </table>
  </div>

  <script>
    import { getGolfHandicaps, sortByFundraiser } from "^components/tiltify/Tiltify";

    document.addEventListener("DOMContentLoaded", () => {
      const handicapsEl = document.getElementById('handicaps') as HTMLTableSectionElement;
      handicapsEl.innerHTML = '';

      getGolfHandicaps().then((handicaps) => {
        handicaps
        // .filter((handicap) => handicap?.handicap > 0)
        .filter((handicap) => parseFloat(handicap?.amount) > 0)
        .sort(sortByFundraiser).forEach((handicap) => {
          const col1 = document.createElement('td');
          col1.appendChild(document.createTextNode(handicap.fundraiser));
          const col2 = document.createElement('td');
          col2.appendChild(document.createTextNode(handicap.handicap.toString()));
          const col3 = document.createElement('td');
          col3.appendChild(document.createTextNode(`$${handicap.amount}`));

          const newRow = handicapsEl.insertRow();
          newRow.appendChild(col1);
          newRow.appendChild(col2);
          newRow.appendChild(col3);
        });
      });
    });
  </script>
</LayoutBlank>
