<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Givers &amp; Gamers{% if subtitle %} + {{ subtitle }}{% endif %}</title>
    {% block headImports %}{% endblock %}
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
