<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Givers &amp; Gamers{% if subtitle %} + {{ subtitle }}{% endif %}</title>
    {% block headImports %}{% endblock %}
  </head>

  <body>
    <header>
      <h2>February 18 &ndash; 20, 2022</h2>
      <div class="logo-GnG"></div>
      <h3>A virtual gaming event to support keeping families close</h3>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
