<link rel="stylesheet" href="/libs/styles/progress.scss">

<div id="indicator" class="container">
  <canvas id="confetti" class="container"></canvas>
</div>

<script type="module">
    import { ProgressIndicator } from '/libs/ProgressIndicator.ts';
    const progress = new ProgressIndicator();
</script>
