<link rel="stylesheet" href="/templates/progress/progress.scss">

<div id="indicator" class="container">
  <canvas id="confetti" class="container"></canvas>
</div>

<script type="module" src="/libs/progress.js"></script>
