<link rel="stylesheet" href="/templates/progress/progress.scss">

<div id="indicator" class="container">
  <canvas id="confetti" class="container"></canvas>
</div>

<script type="module">
  import { Circle } from 'progressbar.js';
  import { ConfettiShower, EAnimationState } from '/libs/confetti/ConfettiShower';
  import airHornFile from '/dj-air-horn-sound-effect.mp3';

  const confetti = new ConfettiShower("confetti");

  document.addEventListener('DOMContentLoaded', () => {
    confettiLoop();
    circleAroundLogo();
  });

  const COLOR_RED = '#da1a00';
  const COLOR_GOLD = '#ffc829';

  function confettiLoop () {
    confetti.startAnimation().subscribe(
      () => {
          /* fires for every emitted state */
      },
      (error) => {
          console.error(
              `confettiLoop error`,
              error
          );
      },
      () => {
        console.log('restarting loop');
          confettiLoop();
      }
    );
  }

  function circleAroundLogo () {
    const container = document.getElementById('indicator');

    var circle = new Circle(container, {
      color: COLOR_RED, // line and text, unless overridden
      strokeWidth: 10,
      trailWidth: .75,
      duration: 5000,
      svgStyle: null,

      step: function (state, circle) {
        // TODO: add confetti at major intervals

        var value = Math.round(circle.value() * 100);
        if (value === 0) {
          circle.setText('');
        } else {
          circle.setText(`${value}%`);
        }

/*
        if (value >= 100) {
          confettiLoop();
        }
        */

      }
    });

    // specify individual properties so as to not cancel defaults
    circle.text.style.color = '#333';

    circle.animate(1.0);
  }
</script>
