---
import StartFundraisingButton from "^components/tiltify/StartFundraisingButton.astro";
---

<h2>Join us in Lexington on January 14 for <a href="/events/communityday/">Community Day</a></h2>

<StartFundraisingButton />
