---
import ProgressIndicator from '^components/tiltify/ProgressIndicator.astro';
---
<h2>Welcome to Streaming Weekend!</h2>
<h3><a href="/events/streaming/schedule/">view the schedule</a></h3>

<ProgressIndicator />
<p style="font-size: smaller; font-style: italic;">progress toward fundraising goal on Tiltify</p>
<button id="donate" class="action primary"><a href="https://donate.tiltify.com/rmhclexington/giversandgamers">Donate</a></button>
