---
import StartFundraisingButton from "^components/tiltify/StartFundraisingButton.astro";
---

<!-- <h2>Join us on Twitch February 24&ndash;26 for our <a href="/events/streaming/">Streaming Weekend</a></h2> -->
<h2>Join us on Twitch February 24&ndash;26 for our Streaming Weekend</h2>

<StartFundraisingButton />
