---
import { EventWindow } from '^scripts/EventWindow';

const nowStreaming = new EventWindow('StreamingWeekend').currentlyStreaming();
---
<h2>Welcome to <a href="/events/streaming/schedule/">Streaming Weekend</a>!</h2>
