---
import LayoutMain from "^layouts/LayoutMain.astro";
import "^styles/events.scss";

const pageTitle = "Team Trivia";
---
<LayoutMain subtitle={ pageTitle }>
    <h1>{ pageTitle }</h1>

    <h2>Thursday, February 16, 2023<br>8:30pm</h2>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc1LaERUxmhbQUIkhI-e2_hq7tc4BV-HxMgA00jIbEgsk0o-w/viewform?embedded=true" width="640" height="1270">Loading…</iframe>
</LayoutMain>
