{% set subtitle = 'Schedule' %}
{% extends 'main.njk' %}

{% block headImports %}
  {% include "fontawesome.njk" %}
  <link rel="stylesheet" href="./schedule.scss" />
{% endblock %}

{% block content %}
  <h1>{{ subtitle }}</h1>
  <div id="countdown"></div>

  <section class="schedule">
    <h2>Every Day
       <span class="toggleAccordion"><i id="toggleEveryDay" class="fa-solid fa-square-caret-down"></i></span>
    </h2>
    <div id="accordionEveryDay" class="accordion">
      {% for event in all | sort(false, false, 'datetime') %}
        {% include "./event.njk" %}
      {% endfor %}
    </div>
  </section>

  <section id="day1" class="schedule">
    <h2>
      <span class="nav disabled"><i class="fa-solid fa-square-caret-left"></i></span>
      Day 1
      <span id="next2" class="nav"><i class="fa-solid fa-square-caret-right"></i></span>
    </h2>
    {% for event in day1 | sort(false, false, 'datetime') %}
      {% include "./event.njk" %}
    {% endfor %}
  </section>

  <section id="day2" class="schedule">
    <h2><span id="prev1" class="nav">
      <i class="fa-solid fa-square-caret-left"></i></span>
      Day 2
      <span id="next3" class="nav"><i class="fa-solid fa-square-caret-right"></i></span>
    </h2>
    {% for event in day2 | sort(false, false, 'datetime') %}
      {% include "./event.njk" %}
    {% endfor %}
  </section>

  <section id="day3" class="schedule">
    <h2>
      <span id="prev2" class="nav"><i class="fa-solid fa-square-caret-left"></i></span>
      Day 3
      <span class="nav disabled"><i class="fa-solid fa-square-caret-right"></i></span>
    </h2>
    {% for event in day3 | sort(false, false, 'datetime') %}
      {% include "./event.njk" %}
    {% endfor %}
  </section>

  <script type="module" src="./schedule.ts"></script>
{% endblock %}
