{% set subtitle = 'Schedule' %}
{% extends 'main.njk' %}

{% block headImports %}
  {% include "fontawesome.njk" %}
  <link rel="stylesheet" href="./schedule.scss" />
{% endblock %}

{% block content %}
  <h1>{{ subtitle }}</h1>
  <div id="countdown"></div>

  {% include "./day-1.njk" %}

  <script type="module" src="./schedule.ts"></script>
{% endblock %}
