@use "/libs/styles/vars.css";

:root {
    --spacing-large: 25px;
    --spacing-medium: 15px;
}

.schedule {
    max-width: 90%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    font-size: 16pt;
}

p {
    margin: .5em 0;
    padding: 0;
}

#countdown {
    font-size: 24pt;
    color: var(--color-gng-blue);
    min-height: 1.5em;
}


// .day {
//     font-family: "Montserrat", sans-serif;
//     font-size: 16pt;
//     letter-spacing: 3px;
//     color: var(--color-gng-red);
//     padding: var(--spacing-main);
// }

// .when,
// .title {
//     font-weight: bold;
//     font-size: larger;
// }

.event {
    display: grid;
    gap: var(--spacing-medium);
    grid-template-columns: minmax(max-content, 10%) auto minmax(max-content, 10%);
    grid-template-areas: "when what watch";

    margin: 0 auto;
    margin-bottom: var(--spacing-large);
    background-color: rgba(255, 255, 255, .25);
    border-radius: var(--spacing-large);
    padding: var(--spacing-large);

    &.highlight h3 {
        color: var(--color-gng-red);
    }

    h3 {
        color: var(--color-gng-blue);
        margin: 0;
        margin-bottom: .25em;
        padding: 0;
    }

    img {
        min-height: 50px;
        width: 50px;
    }

    .when {
        grid-area: "when";
        text-align: right;
        white-space: nowrap;
    }

    .what {
        grid-area: "what";
    }

    .desc {
        font-style: italic;
    }

    .howto {
        font-size: smaller;
    }

    .watch {
        grid-area: "watch";

        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 720px) {}

@media screen and (max-width: 500px) {}
