@use "/libs/styles/mixins";
@use "/libs/styles/vars.css";

:root {
    --spacing-large: 25px;
    --spacing-medium: 15px;
}

.schedule {
    width: 85%;

    @include mixins.centerFlexCol;
    flex-wrap: nowrap;

    font-size: 16pt;

    &.inactive {
        display: none;
    }
}

p {
    margin: .5em 0;
    padding: 0;
}

#countdown {
    font-size: 24pt;
    color: var(--color-gng-blue);
    min-height: 1.5em;
}

.nav,
.toggleAccordion {
    cursor: pointer;
    color: var(--color-gng-red);

    // used only to keep consistent spacing until enabled
    opacity: 0;

    &.enabled {
        opacity: unset;
    }

    // to animate FontAwesome (e.g., rotation)
    display: inline-block;

    & * {
        transition: all .25s ease;
    }
}

.accordion {
    width: 100%;
    transition: height .5s ease-out;
    overflow: hidden;
}

.event {
    display: grid;
    gap: var(--spacing-medium);
    grid-template-columns: minmax(max-content, 10%) auto minmax(max-content, 10%);
    grid-template-areas: "when what watch";

    width: 100%;
    margin: 0 auto;
    margin-bottom: var(--spacing-large);
    background-color: rgba(255, 255, 255, .25);
    border-radius: var(--spacing-large);
    padding: var(--spacing-large) 0;

    &.highlight h3 {
        color: var(--color-gng-red);
    }

    h3 {
        color: var(--color-gng-blue);
        margin: 0;
        margin-bottom: .25em;
        padding: 0;
    }

    img {
        min-height: 50px;
        width: 50px;
    }

    .when {
        grid-area: "when";
        text-align: right;
        white-space: nowrap;
    }

    .what {
        grid-area: "what";
    }

    .desc {
        font-style: italic;
    }

    .howto {
        font-size: smaller;
    }

    .watch {
        grid-area: "watch";

        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 720px) {
    .schedule {
        font-size: 14pt;
    }

    .event {
        grid-template-columns: none;
        grid-template-rows: minmax(max-content, 10%) auto minmax(max-content, 10%);
        grid-template-areas:
            "when"
            "what"
            "watch";

        /**
         * This could lead to some narrower blocks, but that's unlikely--only
         * if they have no full line at <=720px. If we continue to leave
         * width at 100%, the horizontal padding will cause overflow.
         */
        width: auto;
        padding: var(--spacing-large);

        .when {
            text-align: left;
        }
    }
}

@media screen and (max-width: 500px) {}
