{% set subtitle = 'Streamer Kit' %}
{% extends 'main.njk' %}

{% block content %}
    <h1>{{ subtitle }}</h1>
    <ul>
      <li><a href="progress/">goal progress indicator</a></li>
    </ul>
{% endblock %}
