// @import '../vars';

body {
	background: palegreen;
}

canvas#gauge {
    background-color: transparent;
}

div.chart-position {
	position: absolute;
    right: 15px;
    bottom: 15px;
    left: 15px;
}

// https://www.chartjs.org/docs/latest/general/responsive.html#important-note
div.chart-container {
    position: relative;
}
