@import "/libs/styles/base";
@import "/libs/styles/colors.css";

body {
    background-color: var(--color-gng-grey-dk);
    margin: 0;
    padding: 0;
}

canvas#gauge {
    background-color: transparent;
}

div.chart-position {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

// https://www.chartjs.org/docs/latest/general/responsive.html#important-note
div.chart-container {
    position: relative;
}
