@use "mixins";
// @use "vars.css";

.events {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    margin: 0 auto var(--spacing-small);

    .event {
        min-width: 300px;

        display: flex;
        flex-direction: column;

        @include mixins.itemBox;

        p, h2, h3 {
            margin: 0;
        }

        &.past {
            filter: opacity(45%);
        }
    }
}


.event.ttrpg-session {
    .session-title {
        font-style: italic;
        font-size: larger;
        color: var(--color-gng-red);
    }
    .session-system {
        // margins don't collapse in display: flex
        margin: 1em auto 0;
        // line-height: 90%;
    }
    .session-subsystem {
        font-size: 10pt;
        // line-height: 1em;
        margin-bottom: 1em;
    }
    .session-desc {
        flex: 1 0 0;
        font-size: 20px;
        font-style: italic;
        margin: .5em auto 1em;
        text-align: justify;

        // drop-cap
        // this doesn't work in Chrome
        /*
        &::first-letter {
            float: left;
            font-family: Georgia;
            font-size: 375%;
            line-height: 300%;
            padding-top: 4px;
            padding-inline-end: 8px;
            padding-inline-start: 3px;
        }
        */
    }
    .session-room {
        &::before {
            content: "Room ";
        }
    }
}

@media only screen and (max-width: 1280px) {
    .events {
        flex-direction: column;
        width: 80%;
    }
}
