/*
 * prevent transitions from firing during initial render
 * see https://css-tricks.com/transitions-only-after-page-load/
 *
 * In your DOMContentLoaded callback, add
 * document.querySelectorAll('.preload').forEach((el) => { el.classList.remove('preload'); });
 */
.preload * {
    transition: none !important;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-block-end: .25em;
}
