@use "vars.css";

/*
 * prevent transitions from firing during initial render
 * see https://css-tricks.com/transitions-only-after-page-load/
 *
 * In your DOMContentLoaded callback, add
 * document.querySelectorAll('.preload').forEach((el) => { el.classList.remove('preload'); });
 */
.preload * {
    transition: none !important;
}

body {
    margin: 0;
    padding: 0;

    font: var(--font-size) "Raleway", sans-serif;
    color: var(--color-gng-grey);
}

h1, h2 {
    margin-block-end: .25em;
    margin-block-start: .25em;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

iframe {
    max-width: 100%;
}
