@use "./vars.css";

// based on https://css-tricks.com/building-a-conference-schedule-with-css-grid/ by Mark Root-Wiley

/*************************
 * GRID SCHEDULE LAYOUT
 *************************/
@media screen and (min-width:700px) {
    .schedule {
        max-width: 90%;

        display: grid;
        grid-gap: .5em;
        grid-template-rows:
            [tracks] auto
            [time-1200] 1fr
            [time-1230] 1fr
            [time-1300] 1fr
            [time-1330] 1fr
            [time-1400] 1fr
            [time-1430] 1fr
            [time-1500] 1fr
            [time-1530] 1fr
            [time-1600] 1fr
            [time-1630] 1fr
            [time-1700] 1fr
            [time-1730] 1fr
            [time-1800] 1fr
            [time-1830] 1fr
            [time-1900] 1fr
            [time-1930] 1fr
            [time-2000] 1fr
            ;

        grid-template-columns:
            [times] 4em
            [area-theater-start] 1fr
            [area-theater-end area-main-start] 1fr
            [area-main-end area-gaming-start] 1fr
            [area-gaming-end area-ttrpg-start] 1fr
            [area-ttrpg-end area-retro-start] 1fr
            [area-retro-end];
    }

    .track-slot {
        padding: 10px 5px 5px;
        // position: sticky;
        // top: calc(var(--dim-logo-height) + 25px);
        // z-index: 1000;

        grid-row: tracks;

        color: var(--color-gng-red);
        text-align: center;
        background-color: var(--color-gng-white);
    }

    .area-main {
        grid-column-start: area-main-start;
        grid-column-end: area-main-end;
    }

    .area-theater {
        grid-column-start: area-theater-start;
        grid-column-end: area-theater-end;
    }

    .area-gaming {
        grid-column-start: area-gaming-start;
        grid-column-end: area-gaming-end;
    }

    .area-ttrpg {
        grid-column-start: area-ttrpg-start;
        grid-column-end: area-ttrpg-end;
    }

    .area-retro {
        grid-column-start: area-retro-start;
        grid-column-end: area-retro-end;
    }

    .area--all {
        grid-column-start: area-main-start;
        grid-column-end: area-retro-end;
    }
}

.time-slot {
    text-align: right;
    grid-column: times;
    margin: 0;
}

.session {
    margin: 0;
}

.session-area {
    display: none;
}

.session-desc {
    font-style: italic;
    font-size: smaller;
}

// small glass
@media screen and (max-width: 700px) {
    .session {
        margin-bottom: 1em;
    }
    .session-area {
        display: block;
    }
    .time-slot {
        text-align: unset;
        margin: 0 0 .25em 0;
    }
    .empty-time,
    .track-slot {
        display: none;
    }
}

.session {
    padding: .5em;
    background-color: var(--color-gng-blue);
    color: white;

    border-radius: 2px;
    font-size: 14px;
    box-shadow:
        rgba(255, 255, 255, .6) 1px 1px 0,
        rgba(0, 0, 0, .3) 4px 4px 0;
}

.session-time,
.session-title {
    margin: 0 0 .25em 0;
}

.session-title > span {
    white-space: nowrap;

    @media screen and (min-width:700px) {
        &:after {
            content: ".";
            display: block;
            height: 0;
            visibility: hidden;
        }
    }
}

.track-slot,
.time-slot {
    font-weight: bold;
    font-size: .75em;
}
