:root {
    /* colors for mixing an alpha with rgba() */
    --rgb-gng-grey: 51, 51, 51;
    --rgb-gng-red: 218, 26, 0;

    --color-gng-blue: #4872ae;
    --color-gng-gold: #ffc829;
    --color-gng-grey: #333;
    --color-gng-lite-blue: #f0f3f9;
    --color-gng-red: #da1a00;
    --color-gng-white: #fff;

    --img-gng-logo-horiz: url("/images/logo-GG-horiz.png");
    --img-gng-logo-stack: url("/images/logo-GG-stacked.png");

    --dim-drips-height: 118px;
    --dim-header-base: 150px;
    --dim-logo-height: var(--dim-header-base);
    --drop-shadow: 2px 2px 2px var(--color-gng-grey);

    --margin-primary: 1rem 0;
    --dim-width-content: 60%;

    --font-size: 18pt;

    --spacing-small: 15px;
    --spacing-medium: 25px;

    --z-stripes: -1;
    --z-header : 10;
    --z-twitch : 20;
}
