---
import "^styles/progress.scss";
import "./ProgressIndicator";
---
<div id="indicator" class="container">
  <canvas id="confetti" class="container"></canvas>
</div>

<script is:inline>
document.addEventListener("DOMContentLoaded", () => {
    new ProgressIndicator().init();
});
</script>
