:root {
    --color-gng-grey-lt: rgb(204, 204, 204);
    --color-gng-grey-md: rgb(124, 124, 124);
    --rgb-gng-grey-dk: 57, 61, 68; // for use with rgba
    --color-gng-grey-dk: rgb(var(--rgb-gng-grey-dk));
    --color-gng-red: rgb(218, 41, 28);
    --color-gng-gold: rgb(255, 200, 41);

    // paths are relative to this file
    --img-gng-logo-full: url("../images/gg-logo-full.png");
    --img-gng-logo-small: url("../images/gg-logo-square.png");

    --spacing-main: 10px;
}

body {
    background-color: var(--color-gng-grey-dk);
    color: var(--color-gng-grey-lt);
    margin: 0;

    & > * {
        padding: var(--spacing-main);
    }
}

h1 {
    color: var(--color-gng-red);
}

h2 {
    font-variant: all-small-caps;
    font-size: 1.5rem;
    color: var(--color-gng-gold);
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-main);
}

// add fade for subducted content
// https://stackoverflow.com/a/22666488/356016
.fade-over:after {
    $fade-height: 10px;

    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : -$fade-height;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom,
        rgba(var(--rgb-gng-grey-dk), 1),
        rgba(var(--rgb-gng-grey-dk), 0) 100%
    );
    width    : 100%;
    height   : $fade-height;
}

.vertext {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    position: relative;
    text-align: right;
}

div.lg-only {
    display: block;
}
.sg-only {
    display: none;
}

@media screen and (max-width: 480px) {
    .lg-only {
        display: none;
    }
    div.sg-only {
        display: block;
    }
}
