$tpl-cols-event: 6rem auto 50px 30%;
$tpl-col-label: 2rem;

.when {
    grid-area: when;
}
.what {
    grid-area: what;
}
.watch {
    grid-area: watch;
}
div.desc {
    grid-area: desc;
}
.play {
    grid-area: play;
}

.schedule,
.event {
    display: grid;
    gap: 1rem;

    grid-template-rows: auto;
}

.schedule.header {
    grid-template-columns: $tpl-col-label $tpl-cols-event;
    grid-template-areas: ". when what watch play";

    .when,
    .what,
    .watch,
    div.desc,
    .play {
        width: 100%;
        align-self: stretch;
    }
}

// TODO:? Does this need to be grid, or will flexbox work?
.schedule.day {
    grid-template-columns: $tpl-col-label auto;
    grid-auto-rows: auto;

    .label {
        grid-row: 1 / -1;
    }
    .events {
        grid-column: 2 / -1;

        & > .label {
            display: none;
        }
    }
}

.events {
    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom: 1rem;;
    }
}

.event {
    gap: 0 .5rem;

    grid-template-columns: $tpl-cols-event;
    grid-template-areas:
        "when what watch play"
        "when desc watch play";

    .watch {
        justify-self: center;
        // align-self: center;
    }
    div.desc {
        align-self: start;
    }
}

@media screen and (max-width: 480px) {
    .desc {
        display: none;
    }

    .event,
    .schedule.header {
        gap: 0 .5rem;

        grid-template-columns: 50px auto;
        grid-template-areas:
            "when what"
            "watch play";
    }

    .schedule.day {
        grid-template-columns: auto;
        grid-auto-rows: auto;

        & > .label {
            display: none;
        }
        & > .events > .label {
            display: block;
        }
    }
}
