//
// This file should limit its rules to those controlling
// the CSS Grid structure for the G&G schedule.
//
//

$tpl-col-width-event: 6rem auto 100px;
$tpl-col-width-label: 2rem;

.when  { grid-area: when;  }
.what  { grid-area: what;  }
.watch { grid-area: watch; }
.desc  { grid-area: desc;  }
.play  { grid-area: play;  }

.schedule,
.event {
    display: grid;
    grid-template-rows: auto;
}

.schedule.header {
    gap: 0 10px;
    grid-template-columns: $tpl-col-width-label $tpl-col-width-event;
    grid-template-areas:
        "when when what watch"
        "when when play watch";

    .when,
    .what,
    .watch,
    .desc,
    .play {
        width: 100%;
        align-self: stretch;

        // center content vertically
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

// TODO:? Does this need to be grid, or will flexbox work?
.schedule.day {
    grid-template-columns: $tpl-col-width-label auto;
    grid-auto-rows: auto;

    .label {
        // label occupies the first column, top to bottom
        grid-row: 1 / -1;
    }
    .events {
        // events container occupies the second column, top to bottom
        grid-column: 2 / -1;

        display: flex;
        flex-direction: column;

        & > * {
            margin-bottom: 1rem;
        }

        & > .label {
            // Initialize small-glass label as unrendered.
            // This is redundant with the sg-only class.
            display: none;
        }
    }
}

.event {
    gap: 10px;

    grid-template-columns: $tpl-col-width-event;
    grid-template-areas:
        "when what watch"
        "when desc watch"
        "when play watch";

    // .watch {
    //     justify-self: center;
    //     align-self: center;
    // }
    .desc {
        align-self: start;
    }
}

@media screen and (max-width: 480px) {
    .desc,
    .play {
        display: none;
    }

    .schedule.header {
        gap: 0 .5rem;

        grid-template-areas:
            "when when what watch";

        .desc,
        .play {
            display: none;
            grid-area: unset;
        }

    }

    .event {
        gap: 5px;

        grid-template-areas:
            "when what watch";
    }

    .schedule.day {
        grid-template-columns: auto;
        grid-auto-rows: auto;

        // toggle the small-glass/large-glass labels
        & > .label {
            display: none;
        }
        & > .events > .label {
            display: block;
        }
    }
}
