@import "gng";
@import "program-grid";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

:root {
    --primary-font: 14pt sans-serif;
}

div.lg-only {
    display: block;
}
.sg-only {
    display: none;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    letter-spacing: 5px;
    color: var(--color-gng-red);
}

.schedule {
    font: var(--primary-font);
    margin: 1rem 2%;
    padding: 0 .25rem;
}

#schedule-header {
    background-color: var(--color-gng-grey-dk); // same as body
    padding-bottom: 1rem;

    &.pinned {
        position: fixed;
        top: 0;
        left: 2%;
        right: 2%;
        z-index: 10;

        .schedule.header {
            margin-top: 90px;
        }
    }

    & > .flex-row {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    // add fade for subducted content
    // https://stackoverflow.com/a/22666488/356016
    &:after {
        content  : "";
        position : absolute;
        z-index  : 1;
        bottom   : -20px;
        left     : 0;
        pointer-events   : none;
        background-image : linear-gradient(to bottom,
            rgba(var(--rgb-gng-grey-dk), 1),
            rgba(var(--rgb-gng-grey-dk), 0) 100%
        );
        width    : 100%;
        height   : 20px;
      }

}

.flex-row {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}


.header {
    color: var(--color-gng-grey-dk); /* same as body */
    background-color: var(--color-gng-gold);
    font-variant: all-small-caps;
    font-weight: bold;

    & > div {
        text-align: center;
        border-right: 2px solid var(--color-gng-grey-dk); /* same as body */
    }
}

.vertext {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    position: relative;
    text-align: right;
}

.when,
.what,
.watch,
div.desc,
.play {
    padding: .25rem .5rem;
}

.when {
    text-align: right;
}

.event {
    .play {
        font-size: 12pt;
        line-height: 1.25rem;

        p {
            margin: .5rem 0 0;
        }
    }
}

.schedule.day {
    padding: .5rem .25rem;
    border: 7px ridge var(--color-gng-grey-lt);

    .event:nth-child(odd) {
        color: var(--color-gng-gold);
    }
}

.logo {
    margin: 0 auto;
    height: 1.5rem;
    max-height: 1.5rem;

    &.small {
        max-height: 1rem;
    }

    // &[src*="Twitch"] {
    //     max-height: 1.5rem;
    // }
}
span.logo {
    font-size: 1.5rem;

    &.small {
        font-size: 1rem;
        // vertical-align: super;
    }
}

// .event .fab.fa-twitch {
//     color: rgb(145, 70, 255);
//     background-color: rgb(240, 240, 255);
// }

// v== OLD ==v






.small {
    header .flex-row {
        order: 1;
    }

    header h3 {
        order: 2;

        margin: 0 0 0 var(--spacing-main);

        flex-basis: 50%; /* start small... */
        flex-grow: 2; /* ... and grow to fit */
    }

    header h2 {
        order: 3;

        margin: 0 var(--spacing-main) 0 0;
    }
}

.desc {
	font-size: smaller;
	font-style: italic;
	color: var(--color-gng-grey-md);
}
p {
    margin: 0 0 .25rem 0;
}


a {
    color: inherit;
}


@media screen and (max-width: 480px) {
    .label {
        font-size: 14pt;
    }

    .schedule {
        font: 12pt;
        margin: .5rem 1%;
        padding: 0 .125rem;
    }

    .vertext {
        transform: none;
        writing-mode: unset;
        position: unset;
        text-align: unset;
    }

    .lg-only {
        display: none;
    }
    div.sg-only {
        display: block;
    }
}
