@import "gng";
@import "program-grid";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

div.lg-only {
    display: block;
}
.sg-only {
    display: none;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    letter-spacing: 5px;
    color: var(--color-gng-red);
}

.schedule {
    font: 14pt sans-serif;
    margin: 1rem 2%;
    padding: 0 .25rem;
}

.header {
    color: var(--color-gng-grey-dk); /* same as body */
    background-color: var(--color-gng-gold);
    font-variant: all-small-caps;
    font-weight: bold;

    & > div {
        text-align: center;
        border-right: 2px solid var(--color-gng-grey-dk); /* same as body */
    }
}

.vertext {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    position: relative;
    text-align: right;
}

.when,
.what,
.watch,
div.desc,
.play {
    padding: .25rem .5rem;
}

.when {
    text-align: right;
}

.schedule.day {
    padding: .5rem .25rem;
    border: 7px ridge var(--color-gng-grey-lt);

    .event:nth-child(odd) {
        color: var(--color-gng-gold);
    }
}

// .event .fab.fa-twitch {
//     color: rgb(145, 70, 255);
//     background-color: rgb(240, 240, 255);
// }

// v== OLD ==v


header {
    justify-content: center;
}

.logo-GnG {
    margin: 0 auto;
}

.small {
    .flex-row {
        order: 1;
    }

    header h3 {
        order: 2;

        margin: 0 0 0 var(--spacing-main);

        flex-basis: 50%; /* start small... */
        flex-grow: 2; /* ... and grow to fit */
    }

    header h2 {
        order: 3;

        margin: 0 var(--spacing-main) 0 0;
    }
}

td {
    padding: 1rem;
    vertical-align: top;

    &.watch {
        text-align: center;
    }
}

/*
 * put space after thead and tbody elements
 * https://stackoverflow.com/a/10762599/356016
 */
thead::after,
tbody::after {
    content: '';
    display: block;
    height: 15px;
}

tbody {
    tr {
        border: none;
        border-left: var(--border);
        border-right: var(--border);

        &:first-of-type {
            border-top: var(--border);
        }
        &:last-of-type {
            border-bottom: var(--border);
        }
        &:nth-child(even) {
            color: var(--color-gng-gold);
        }
    }
}

.time {
    text-align: right;
}

.desc {
	font-size: smaller;
	font-style: italic;
	color: var(--color-gng-grey-md);
}
p.desc {
	margin: .5rem 0 0;
}

img.logo {
    margin: 0 auto;

    &[src*="Twitch"] {
        max-height: 1.5rem;
    }

    &[src*="KFD"] {
        max-height: 100px;
    }
}

a {
    color: inherit;
}


@media screen and (max-width: 480px) {
    .label {
        font-size: 14pt;
    }

    .schedule {
        font: 12pt;
        margin: .5rem 1%;
        padding: 0 .125rem;
    }

    .vertext {
        transform: none;
        writing-mode: unset;
        position: unset;
        text-align: unset;
    }

    .lg-only {
        display: none;
    }
    div.sg-only {
        display: block;
    }
}
