@import "gng-common";
// @import "gng-header";
// @import "schedule-grid";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

:root {
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: var(--spacing-main);

    & > * {
        margin: 0;
    }

    .logo-GnG {
        content: var(--img-gng-logo-full);
        max-height: 100px;
        max-width: 100%;
        flex-basis: 100%;
    }
}

@mixin font-basics {
    font-family: sans-serif;
    font-variant: all-small-caps;
    font-weight: bold;
    margin: 0;
}

h1 {
    width: 100%;
    background-color: var(--color-gng-gold);

    @include font-basics;
    color: var(--color-body);
    text-align: center;
    font-size: 18pt;

    padding: var(--spacing-main) 0;
}

.legend {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background-color: var(--color-body);
    border: 4px ridge var(--color-gng-gold);
    padding: var(--spacing-main);

    h4 {
        flex-grow: 1;

        @include font-basics;
        color: var(--color-gng-gold);
        font-size: 12pt;

        padding: var(--spacing-main) 0;
    }

    & > div {
        @include flex-row;
    }

    .icons {

        & > div {
            @include flex-row;

            & > *:first-child {
                margin-right: .5rem;
            }
        }
    }
}


@mixin pinned-header {
    header {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        h2 {
            order: 3;
            text-align: center;
            flex-grow: 1;
        }
        .logo-GnG {
            order: 1;
            content: var(--img-gng-logo-small);
            flex-basis: unset;
            max-height: 50px;
            margin: 0 var(--spacing-main) 0 0;
        }
        h3 {
            order: 2;
            flex-basis: 50%; // start small...
            flex-grow: 2; // ...and grow to fit
        }
    }

    h1 {
        font-size: 14pt;
        // padding: var(--spacing-main) 0;
    }

}

.pinned {
    @include pinned-header;
}















// v== pending review ==v

// :root {
//     --primary-font: 14pt sans-serif;
// }

// .label {
//     font-family: 'Montserrat', sans-serif;
//     font-size: 16pt;
//     letter-spacing: 5px;
//     color: var(--color-gng-red);
// }

// .schedule {
//     font: var(--primary-font);
//     margin: 1rem 2%;
//     padding: 0 .25rem;
// }

// #schedule-header {
//     background-color: var(--color-gng-grey-dk); // same as body

//     &.pinned {
//         // TODO: there's still a bit of a width discrepancy
//         position: fixed;
//         top: 0;
//         left: 2%;
//         right: 2%;
//         z-index: 10;

//         .schedule.header {
//             margin-top: 100px;
//         }
//     }

//     & > .flex-row {
//         flex-wrap: wrap;
//         justify-content: space-around;
//         margin: 0;
//     }
// }

// .header {
//     color: var(--color-gng-grey-dk); /* same as body */
//     background-color: var(--color-gng-gold);
//     font-variant: all-small-caps;
//     font-weight: bold;

//     & > div {
//         text-align: center;
//         border-right: 2px solid var(--color-gng-grey-dk); /* same as body */
//     }
// }

// .when,
// .what,
// .watch,
// .desc,
// .play {
//     padding: .25rem .5rem;
// }

// .when {
//     text-align: right;
// }

// .desc {
// 	font-size: smaller;
// 	font-style: italic;
// 	color: var(--color-gng-grey-md);
// }

// .event {
//     .play {
//         font-size: 12pt;
//         line-height: 1.25rem;

//         p {
//             margin: .5rem 0 0;
//         }
//     }
// }

// .schedule.day {
//     padding: .5rem .25rem;
//     border: 7px ridge var(--color-gng-grey-lt);

//     .event:nth-child(odd) {
//         color: var(--color-gng-gold);
//     }
// }

.logo {
    margin: 0 auto;
    height: 1.5rem;
    max-height: 1.5rem;

    &.small {
        max-height: 1rem;
    }
}
span.logo {
    font-size: 1.5rem;

    &.small {
        font-size: 1rem;
        // vertical-align: super;
    }
}


p {
    margin: 0 0 .25rem 0;
}


a {
    color: inherit;
}


// @media screen and (max-width: 480px) {
//     .label {
//         font-size: 14pt;
//     }

//     .schedule {
//         font: 12pt;
//         margin: .5rem 1%;
//         padding: 0 .125rem;
//     }

//     .vertext {
//         transform: none;
//         writing-mode: unset;
//         position: unset;
//         text-align: unset;
//     }
// }
