---
const { clue, length, start = "1", keyPos = "0", class: classNames = [] } = Astro.props;

const numStart = parseInt(start, 10);
const numLength = parseInt(length, 10);
const numKeyPos = keyPos.split(',').map((numStr: string) => parseInt(numStr, 10) + numStart - 1);

const lastCol = numStart + numLength;
const colSpan = Array.from(Array(lastCol).keys());
---
<div class="clue">{ clue }</div>
{colSpan.map((position) => {
    if (position >= start) {
        return <input
            class:list={[ 'letter', classNames, { key: numKeyPos.includes(position) }]}
            maxlength="1"
            disabled={ classNames.includes('tiles') }
        />
    }
})}
