---
import LayoutMain from "^layouts/LayoutMain.astro";
const pageTitle = "About Us";
---
<LayoutMain subtitle={pageTitle}>
    <h1>{ pageTitle }</h1>

    <p>During the beginning stages of the COVID-19 pandemic in 2020, like many
        nonprofits, Ronald McDonald House Charities<sup>&reg;</sup> of the Bluegrass was
        canceling in-person events and contemplating how to supplement the lost
        fundraising revenue. Executive Director Nate Graham had previous
        working knowledge of <a href="https://www.extra-life.org">ExtraLife</a>
        and thought an RMHC spin to online gaming could be a successful idea.
        He brought the idea to staff member Jillian, knowing she and her husband,
        Donald, were avid gamers and asked if they would be interested in
        starting a virtual gaming fundraiser to benefit RMHC of the Bluegrass.</p>
    <p>When Donald heard the idea, his immediate answer was "YES!" and they got
        to work. Within just six weeks, the first Givers &amp; Gamers was on YouTube
        Live, raising $6,125 with a one-day event. We consider it a success for
        a first-time event, but we knew it could be better.</p>
    <p>Since then, we've built an amazing committee to help us increase our
        engagement, raise more funds, and ultimately support more families with
        sick children. Our streaming event grew from one day to a full weekend
        of virtual events, we moved our streaming to Twitch.tv, and we have been
        joined by other streamers who want to give while they game.</p>
    <p>Our event raised $14,175 in 2021 and $18,372 in 2022. For 2023, we
        have a fresh, new look and we're adding our first in-person event at
        <a href="https://cornerstone.uky.edu/">The Cornerstone</a> on the
        University of Kentucky's campus. We are excited for what the future
        holds for Givers &amp; Gamers!</p>

    <h2>About RMHC of the Bluegrass</h2>
    <p>All funds raised by Givers &amp; Gamers support the mission of Ronald
        McDonald House Charities<sup>&reg;</sup> of the Bluegrass, which is to create and
        support programs that directly improve the health and well-being of
        children, and to strengthen families by keeping them together in times
        of medical need. RMHC of the Bluegrass has three major programs:</p>
        <ul>
            <li>our 21 bedroom House that serves as a home-away-from-home for
                families of hospitalized children</li>
            <li>our Family Room and hospital programs that offer rest,
                respite and hospitality to families in the Kentucky Children's
                Hospital and related clinics</li>
            <li>and our Caremobile, a mobile dental clinic offering free,
                preventative dental care to children in Eastern Kentucky</li>
        </ul>
</LayoutMain>
