---
import LayoutMain from "^layouts/LayoutMain.astro";
const pageTitle = "About Us";
---
<LayoutMain subtitle={pageTitle}>
    <h1>{ pageTitle }</h1>

    <article>
        <p>In 2020, during the beginning stages of the COVID-19 pandemic, like many
            nonprofits, Ronald McDonald House Charities<sup>&reg;</sup> of the Bluegrass was
            canceling in-person events and contemplating how to supplement the lost
            fundraising revenue. Nate Graham, our Executive Director, had previous
            working knowledge of <a href="https://www.extra-life.org">ExtraLife</a>
            and thought an RMHC spin to online gaming could be a successful idea.
            He brought the idea to staff member Jillian, knowing she and her husband,
            Donald, were avid gamers and asked if they would be interested in
            starting a virtual gaming fundraiser to benefit RMHC of the Bluegrass.</p>
        <p>When Donald heard the idea his immediate answer was "YES!" and they got
            to work. Within six weeks, the first Givers &amp; Gamers was on YouTube
            Live, raising $6,125 with a one-day event. We consider it a success for
            a first-time event, but we knew it could be better.</p>
        <p>Since then, we've built an amazing committee to help us increase our
            engagement, raise more funds, and ultimately support more families with
            sick children. We've gone from one day to a full weekend of virtual
            events, moved our streaming to Twitch.tv, and have been joined by other,
            amazing streamers. In 2021, we raised $14,175 and in 2022, $18,372.
            We are excited for what the future holds for Givers &amp; Gamers!</p>
        <p>All funds raised by Givers &amp; Gamers support the mission of Ronald
            McDonald House Charities<sup>&reg;</sup> of the Bluegrass, which is to create and
            support programs that directly improve the health and well-being of
            children, and to strengthen families by keeping them together in times
            of medical need. RMHC of the Bluegrass has three major programs:</p>
            <ul>
                <li>our 21 bedroom House that serves as a home-away-from-home for
                    families of hospitalized children</li>
                <li>our Family Room and hospital programs that offer rest,
                    respite and hospitality to families in the Kentucky Children's
                    Hospital and related clinics</li>
                <li>and our Caremobile, a mobile dental clinic offering free,
                    preventative dental care to children in Eastern Kentucky</li>
            </ul>
    </article>
</LayoutMain>
