---
import LayoutMain from "^layouts/LayoutMain.astro";
const pageTitle = "Contact Us";
---
<LayoutMain subtitle={pageTitle}>
    <h1>{ pageTitle }</h1>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfL6wGiYANKSwHUxjGYGJi48YVZaBwxY1UZPlIGZdL7rqnacQ/viewform?embedded=true" width="640" height="801" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</LayoutMain>
