---
import LayoutMain from "^layouts/LayoutMain.astro";
import BeforeCommunityDay from "^components/landing/BeforeCommunityDay.astro";
import StreamingWeekendBefore from "^components/landing/StreamingWeekend-0Before.astro";
import StreamingWeekendDuring from "^components/landing/StreamingWeekend-1During.astro";
import { EventWindow } from "^scripts/EventWindow";
import "^styles/index.scss";

const eventCommunityDay = new EventWindow('CommunityDay');
const eventStreamingWeekend = new EventWindow('StreamingWeekend');
---

<LayoutMain>
    {!eventCommunityDay.hasStarted && !eventCommunityDay.hasEnded && <BeforeCommunityDay />}
    {eventCommunityDay.hasEnded && !eventStreamingWeekend.hasStarted && <StreamingWeekendBefore />}
    {eventStreamingWeekend.hasStarted && !eventStreamingWeekend.hasEnded && <StreamingWeekendDuring />}

    <footer slot="footer" class="links">
        <a href="/about">About</a>
        <a href="/events">Events</a>
        <a href="https://drive.google.com/file/d/1woehpLxbbm6qA3mQ_9yyewZ7Ng-p61lp/view?usp=share_link">Sponsorship Info <i class="fa-solid fa-file-pdf"></i></a>
        <a href="/contact">Contact</a>
    </footer>

<!--     <script is:inline>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('register')?.addEventListener('click', () => {
                location.href = 'https://tiltify.com/rmhclexington/giversandgamers';
            });

            // Show Wordle puzzles for current and past days
            // const wordleLinks = Array.from(document.getElementsByClassName('wordle'));

            // if (wordleLinks) {
            //     wordleLinks.forEach((element, index) => {
            //         if (TODAY_ST.isAfter(DATE_START_ST.add(index, 'day'))) {
            //             element.style.display = 'inline';
            //         }
            //     });
            // }
        });
    </script>
 --></LayoutMain>
