---
import LayoutMain from "^layouts/LayoutMain.astro";
import "^styles/index.scss";
---

<LayoutMain>
  <p>Together, we raised over</p>

  <div class="total-raised">
    $16,000!
  </div>

  <p>We offer our sincere thanks and gratitude to those that helped fundraise
    on Tiltify, shared our message through Twitch and social media, donated to
    our cause, played games with us or offered a helping hand.</p>

  <div slot="navMenu">
    <li><a href="/about">About</a></li>
    <li><a href="https://donate.tiltify.com/rmhclexington/giversandgamers">Donate</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="https://drive.google.com/file/d/1woehpLxbbm6qA3mQ_9yyewZ7Ng-p61lp/view?usp=share_link">Sponsorship Info <i class="fa-solid fa-file-pdf"></i></a></li>
    <li><a href="https://discord.gg/pzcG2w8qTu">Join our <i class="fa-brands fa-discord"></i> Discord</a></li>
  </div>
</LayoutMain>
