---
import LayoutMain from "^layouts/LayoutMain.astro";
import BeforeCommunityDay from "^components/landing/BeforeCommunityDay.astro";
import DuringEvent from "^components/landing/DuringEvent.astro";
import { EventWindow } from "^scripts/EventWindow";
import "^styles/index.scss";
---

<LayoutMain>
    {!EventWindow.hasStarted && <BeforeCommunityDay />}

    {EventWindow.hasStarted && !EventWindow.hasEnded && <DuringEvent />}

    <div class="links">
        <a href="/about">About</a>
        <a href="/events">Events</a>
        <a href="/contact">Contact</a>
    </div>

    <script is:inline>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('register')?.addEventListener('click', () => {
                location.href = 'https://tiltify.com/rmhclexington/giversandgamers';
            });

            // Show Wordle puzzles for current and past days
            // const wordleLinks = Array.from(document.getElementsByClassName('wordle'));

            // if (wordleLinks) {
            //     wordleLinks.forEach((element, index) => {
            //         if (TODAY_ST.isAfter(DATE_START_ST.add(index, 'day'))) {
            //             element.style.display = 'inline';
            //         }
            //     });
            // }
        });
    </script>
</LayoutMain>
