---
import LayoutMain from "../layouts/LayoutMain.astro";
import "../styles/index.scss";
---
<LayoutMain>
    <div class="subheader">
      Returning Feb 24&ndash;26, 2023
    </div>

    <button class="action primary register">
      <a href="https://tiltify.com/rmhclexington/giversandgamers">
        Start fundraising now on Tiltify
      </a>
    </button>

    <!--       <div class="action-button register">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSfENVra6CwPc09ymg62pjll_yRBupAr3InbxIU0AziyD0TDXA/viewform?usp=sf_link">
        < !-- <img class="icon signup" src="/images/icon-GG-signup.png" /> - ->
        Register to receive updates
      </a>
    </div>
-->
</LayoutMain>
