---
import LayoutMain from "^layouts/LayoutMain.astro";
import BeforeCommunityDay from "^components/landing/BeforeCommunityDay.astro";
import StreamingWeekendBefore from "^components/landing/StreamingWeekend-0Before.astro";
import StreamingWeekendDuring from "^components/landing/StreamingWeekend-1During.astro";
import { EventWindow } from "^scripts/EventWindow";
import "^styles/index.scss";

const eventCommunityDay = new EventWindow('CommunityDay');
const eventStreamingWeekend = new EventWindow('StreamingWeekend');
---

<LayoutMain>
    {!eventCommunityDay.hasStarted && !eventCommunityDay.hasEnded && <BeforeCommunityDay />}
    {eventCommunityDay.hasEnded && !eventStreamingWeekend.hasStarted && <StreamingWeekendBefore />}
    {eventStreamingWeekend.hasStarted && !eventStreamingWeekend.hasEnded && <StreamingWeekendDuring />}

    {!eventStreamingWeekend.hasEnded && <>
        <h2 style="margin-top: 1.5em;">Our PlayStation 5 raffle is live!</h2>
        <button id="raffle" class="action"><a href="/raffle">Purchase raffle entry</a></button>
    </>}

<script is:inline>
document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('raffle').addEventListener('click', () => {
        location.href = '/raffle';
    });
});
</script>
 </LayoutMain>
