---
import LayoutMain from "^layouts/LayoutMain.astro";
import "^styles/index.scss";
---
<LayoutMain>
    <div class="subheader">
      Returning Feb 24&ndash;26, 2023
    </div>

    <button class="action primary register">
      <a href="https://tiltify.com/rmhclexington/giversandgamers">
        Start fundraising now on Tiltify
      </a>
    </button>

    <!--       <div class="action-button register">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSfENVra6CwPc09ymg62pjll_yRBupAr3InbxIU0AziyD0TDXA/viewform?usp=sf_link">
        < !-- <img class="icon signup" src="/images/icon-GG-signup.png" /> - ->
        Register to receive updates
      </a>
    </div>
-->

<script is:inline>
const showStreamerLinks = (evt) => {
    const streamerLinks = Array.from(document.getElementsByClassName('streamer'));

    if (streamerLinks) {
        streamerLinks.forEach((element) => {
            element.style.display = (element.style.display === 'none' ? 'inline' : 'none');
        });
    }
};

document.addEventListener('DOMContentLoaded', () => {
    // Show Wordle puzzles for current and past days
    // const wordleLinks = Array.from(document.getElementsByClassName('wordle'));

    // if (wordleLinks) {
    //     wordleLinks.forEach((element, index) => {
    //         if (TODAY_ST.isAfter(DATE_START_ST.add(index, 'day'))) {
    //             element.style.display = 'inline';
    //         }
    //     });
    // }

    const toggleEl = document.getElementById('toggle');
    if (toggleEl) {
        toggleEl.addEventListener('click', showStreamerLinks);
    }
});
</script>
</LayoutMain>
