---
import LayoutMain from "^layouts/LayoutMain.astro";
const pageTitle = "Register With Tiltify";
---
<LayoutMain subtitle={pageTitle}>
    <h1>{ pageTitle }</h1>

    <article>
        <p>Givers &amp; Gamers uses Tiltify as a crowsourced fundraising platform.
            It handles all the mechanics of accepting and compiling donations.
            You simply set a goal for yourself then recruit donors from your support
            network to meet that goal. In addition to supporting
            keeping families close, the funds you raise
            help <em>you</em> to earn prizes.</p>
        <p>If you're ready to get started, follow these steps. You may want to
            <a href="https://tiltify.com/rmhclexington/giversandgamers" target="_blank">open Tiltify</a>
            in a new tab or window to keep these instructions handy.
        </p>
        <ol>
            <li>At <a href="https://tiltify.com/rmhclexington/giversandgamers" target="_blank">G&amp;G's Tiltify page</a>, click "Start fundraising"</li>
            <li>Click "Create an account" or sign-in with Google, Twitch, Facebook, Twitter or Discord.</li>
            <li>Fill out the required fields. The username you choose will show up in your custom link.</li>
            <li>Fill out the bio and add an optional avatar image. Click "Create a fundraiser account".</li>
            <li>Confirm your Cause: <strong>Ronald McDonald House Charities of the Bluegrass</strong></li>
            <li>Confirm your Fundraising Event: <strong>Givers and Gamers 2.3</strong></li>
            <li>Click Continue.</li>
            <li>Give your campaign a name. Use something short&mdash;this will show up in your custom link.
                Feel free to edit your description or use the default. You can go back and change it later.
                Click Continue.</li>
            <li>You can add a livestream, YouTube video or image. You can also add these later.</li>
            <li>Check out our sweet incentives, and choose the one(s) you know you want to earn!</li>
            <li>Set a fundraising goal that makes sense for you. You can always increase this later. There's
                no penalty for not meeting it and every dollar donated supports families with sick kids!</li>
            <li>We need a few details, like your address & T-shirt size, for prize delivery.</li>
            <li>Click "Create &amp; publish"</li>
        </ol>
        <p>You're fundraising campaign is ready to go. Now you can start fundraising!
            Share the link with your support network and spread the word in all
            the ways you can.
        </p>
    </article>
</LayoutMain>
