@import "../gng.css";

:root {
    /*  default values */
    --header-img-height: 100px;
    --header-ttl-height: calc(
        var(--header-img-height) +
        var(--spacing-main) * 3 + /* around both elements and between */
        25px /* height for text */
    );
    --spacing-main: 10px;
}

body {
    background-color: var(--color-gng-grey-dk);
    color: var(--color-gng-grey-lt);
    margin: 0;
}

body > * {
    padding: var(--spacing-main);
}

div.small {
    --header-img-height: 50px;
    --header-ttl-height: calc(var(--header-img-height) + var(--spacing-main) * 2); /* recalculate */
}

h1 {
    color: var(--color-gng-red);
}

h2 {
    font-variant: all-small-caps;
    font-size: 1.5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;

    background-color: var(--color-gng-grey-md);
    padding: var(--spacing-main);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-row {
    max-width: 100%;
    flex-basis: 100%;
}
.small .flex-row {
    max-width: unset;
    flex-basis: unset;
}

.gng-logo {
    content: url("../../images/gg-logo-full.png");
    max-height: var(--header-img-height);
    max-width: 100%;
}
.small .gng-logo {
    content: url("../../images/gg-logo-square.png");
    margin: 0 var(--spacing-main) 0 0;
}

header h2 {
    margin: var(--spacing-main) 0 0;
    color: var(--color-gng-gold);
}
.small header h2 {
    margin: 0;
    flex-basis: 50%;
    flex-grow: 2;
    font-size: 1.25rem;
}

main {
    margin-top: calc(var(--header-ttl-height) + var(--spacing-main));
}
