@import "../gng.css";

:root {
    /*  default values */
    --header-img-height: 100px;
    --header-ttl-height: calc(
        var(--header-img-height) +
        var(--margin-general) * 3 + /* around both elements and between */
        25px /* height for text */
    );
    --margin-general: 10px;
    --duration-header-transition: 0.2s;
}

body {
    background-color: var(--color-gng-grey-dk);
    color: var(--color-gng-grey-lt);
    margin: 0;
}

body > * {
    padding: var(--margin-general);
}

div.small {
    --header-img-height: 50px;
    --header-ttl-height: calc(var(--header-img-height) + var(--margin-general) * 2); /* recalculate */
}

h1 {
    color: var(--color-gng-red);
}

h2 {
    font-variant: all-small-caps;
}

header {
    background: var(--img-gng-logo-full) var(--margin-general) var(--margin-general) / auto var(--header-img-height) no-repeat var(--color-gng-grey-md);
    height: var(--header-ttl-height);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: var(--duration-header-transition); /* N.B.: not inherited */
}

header h2 {
    margin: 0;
    margin-top: calc(var(--header-img-height) + var(--margin-general) * 2); /* --margin-general below image */
    margin-left: var(--margin-general);
    color: var(--color-gng-gold);
    transition: calc(var(--duration-header-transition) / 2); /* double speed */
}

div.small header {
    --header-img-height: 50px;
    background-image: var(--img-gng-logo-square);
}

div.small header h2 {
    opacity: 0;
    margin-top: var(--margin-general); /* to top of smaller image */
}

main {
    margin-top: calc(var(--header-ttl-height) + var(--margin-general));
}
