/* adapted from https://codepen.io/madebygus/pen/MmzWWW */

body {
	// background: #209DD2;
	background: red;
}

$notificationSqDim: 100px;
$iconBorder: 10px;

// ANIMATION CONTROL
$durationSpin: 400ms;
$durationWiden: 2s;
$durationFade: 1s;

#donation {
	position: absolute;
	top: 0;
	right: 0;

	height: $notificationSqDim;
	border-radius: $notificationSqDim / 2;
	background: white;
	// box-shadow: 0 3px 20px #1E7195; // (-20, -2C, -3D)
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-start;

	padding-left: 0;
	max-width: $notificationSqDim;

	// use the animate class to trigger animation
	&.animate {
		// slide open from icon to accommodate name
		animation: widenForContent $durationWiden ease-in-out $durationSpin 1 normal forwards;;

		.circle {
			animation: spin360 $durationSpin linear;
			animation-fill-mode: forwards;
		}

		.donor {
			animation: fadeIn $durationFade ease-in-out $durationSpin+$durationWiden 1 normal forwards;;
		}
	}


	.circle {
		width: $notificationSqDim - 2 * $iconBorder;
		height: $notificationSqDim - 2 * $iconBorder;
		border-radius: 50%;
		background: #E4BF2B;
		margin: $iconBorder;

		flex-shrink: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.icon {
			font-size: 50px;
			color: #fff;
			line-height: 0;

			.fa, .fas {
				line-height: 0;
			}
		}
	}

	.donor {
		opacity: 0;
		flex-shrink: 10;

		text-align: right;

		p {
			margin: 0;
		}

		#name {
			font-size: 22px;
			font-weight: bold;
		}

	}
}

@keyframes fadeIn {
	  0% { flex-shrink: 10; opacity: 0; }
	100% { flex-shrink: 0;  opacity: 1; }
}

@keyframes widenForContent {
	0% {
		padding-left: 0;
		max-width: $notificationSqDim;
	}
	100% {
		padding-left: 40px;
		max-width: 50vw;
	}
}

@keyframes spin360 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
