/* adapted from https://codepen.io/madebygus/pen/MmzWWW */

body {
	// background: #209DD2;
	background: red;
}

$notificationHeight: 100px;
$iconBorder: 10px;

.donation {
	height: $notificationHeight;
	border-radius: $notificationHeight / 2;
	background: white;
	margin: 40px auto;
	// box-shadow: 0 3px 20px #1E7195; // (-20, -2C, -3D)
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);

	// position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	// slide in from the right
	// animation: slideIn 500ms ease-in 0 1 forwards forwards;
	// animation: slideIn 500ms ease-in 0 1 reverse forwards;

	.circle {
		width: $notificationHeight - 2 * $iconBorder;
		height: $notificationHeight - 2 * $iconBorder;
		border-radius: 50%;
		background: #E4BF2B;
		margin: $iconBorder;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		animation: rotate 400ms linear;
		animation-fill-mode: forwards;

		.icon {
			font-size: 50px;
			color: #fff;
			line-height: 0;

			.fa, .fas {
				line-height: 0;
			}
		}
	}

	.donor {
		opacity: 0;
		padding-top: 10px;

		animation: nameFade 1s ease-in-out;
		animation-fill-mode: forwards;

		p {
			margin: 0;
		}

		#name {
			font-size: 22px;
			font-weight: bold;
		}

	}
}

@keyframes nameFade {
	0% {
		opacity: 0;
		padding-top: 10px;
	}
	100% {
		opacity: 1;
		padding-top: 0;
	}
}

@keyframes slideIn {
	0% {
		opacity: 0;
		padding-top: 10px;
	}
	100% {
		opacity: 1;
		padding-top: 0;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
