---
import LayoutMain from "^layouts/LayoutMain.astro";
const pageTitle = "Streamer Kit";
---
<LayoutMain subtitle={ pageTitle }>
    <h1>{ pageTitle }</h1>
    <ul>
      <li><a href="/streamer-kit/progress">goal progress indicator</a></li>
    </ul>
</LayoutMain>
