---
import LayoutMain from "^layouts/LayoutMain.astro";
const pageTitle = "Streamer Kit";
---
<LayoutMain subtitle={ pageTitle }>
    <h1>{ pageTitle }</h1>
    <ul>
      <li><a href="/streamer-kit/progress">goal progress indicator</a></li>
      <li><a href="https://drive.google.com/drive/folders/1QwdnhwlSWKBRkIh6N8zfoq-4PU0HHoH0?usp=sharing">brand assets</a></li>
    </ul>
</LayoutMain>
