<button id="register" class="action primary">Start fundraising now on Tiltify</button>

<script is:inline>
document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('register').addEventListener('click', () => {
        location.href = 'https://tiltify.com/rmhclexington/giversandgamers';
    });
});
</script>
