<button id="register" class="action primary"><a href="/tiltify">Start fundraising now on Tiltify</a></button>

<script is:inline>
document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('register').addEventListener('click', () => {
        location.href = '/tiltify';
    });
});
</script>
