---
import LayoutMain from "^layouts/LayoutMain.astro";
import "^styles/events.scss";

const pageTitle = "Community Game Day";
---
<LayoutMain subtitle={ pageTitle }>
    <h1>{ pageTitle }</h1>

    <h2>Saturday, January 14, 2023<br>12:00pm&ndash;8:00pm</h2>
    <article>
      <p>Join us at <a href="https://cornerstone.uky.edu/">The Cornerstone</a> for our first in-person event.</p>
      <p>Parking in the Cornerstone Garage (Parking Structure #5, 409 South Limestone)
        is free for participants. Sandwiches from DV8 Kitchen will be provided for
        dinner, as well as snacks throughout the day (both while supplies last).</p>
      <p>You will be asked to register at the door, or you may complete the registration
        process in advance using <a href="https://forms.gle/nCAivqD2phmW7kbY9">this form</a>.
        Borrowing games from our Board Game or Retro Console Libraries will
        require you to leave a photo ID.</p>
      <p>Space in our tabletop role-playing games (TTRPGs) is limited. Those
        wishing to play may want to <a href="https://forms.gle/j6LHScvfLjLZhdd48">register
        to reserve their spots</a>. No prior RPG experience is required. Character
        sheets and dice will be provided.</p>
    </article>

    <div class="links">
        <a href="schedule">Schedule</a>
        <a href="https://forms.gle/nCAivqD2phmW7kbY9">Advance Registration</a>
        <a href="https://forms.gle/j6LHScvfLjLZhdd48">RPG Registration</a>
    </div>
</LayoutMain>
