---
import LayoutMain from "^layouts/LayoutMain.astro";
import "^styles/events.scss";

const pageTitle = "Community Game Day";
---
<LayoutMain subtitle={ pageTitle }>
    <h1>{ pageTitle }</h1>

    <h2>Saturday, January 14, 2023<br>12:00pm&ndash;8:00pm</h2>
    <p>Join us at The Cornerstone for our first in-person event.</p>

    <footer slot="footer" class="links">
        <a href="registratin">Advance Registration</a>
        <a href="registratin/rpg">RPG Registration</a>
        <a href="schedule">Schedule</a>
    </footer>
</LayoutMain>
