---
import LayoutMain from "^layouts/LayoutMain.astro";
import "^styles/events.scss";

const pageTitle = "Community Day";
---
<LayoutMain subtitle={ pageTitle }>
  <h1>{ pageTitle }</h1>

  <h2>Saturday, January 14, 2023<br>12:00pm&ndash;8:00pm</h2>
  <p>Join us at <a href="https://cornerstone.uky.edu/">The Cornerstone</a> for
    our first in-person event. It's a free day of gaming for all ages!</p>
  <p>Parking in the Cornerstone Garage (Parking Structure #5, 409 South Limestone)
    is free for participants. Sandwiches from DV8 Kitchen will be provided for
    dinner, as well as snacks throughout the day (both while supplies last).</p>
  <p>Your first stop will be our registration table. Say hello, grab your
    event passport (for door prizes) and sign up to receive information about
    future Givers &amp; Gamers events. We can also help you get set up on Tiltify
    to do your own fundraising for G&amp;G. (You may complete the registration
    process in advance using <a href="https://forms.gle/nCAivqD2phmW7kbY9">this
    form</a>, but should still stop by for your passport.)</p>
  <p>Space in our tabletop role-playing games (TTRPGs) is limited. Those
    wishing to play should register to reserve their spots. No prior TTRPG
    experience is required. Character sheets and dice will be provided.</p>

  <div slot="navMenu">
    <li><a href="schedule">Schedule</a></li>
    <li><a href="https://forms.gle/nCAivqD2phmW7kbY9">Advance Registration</a></li>
    <li><a href="/images/community_day_floorplan.png">Event Map</a></li>
    <li><a href="ttrpg">TTRPG Sessions</a></li>
  </div>
</LayoutMain>
