---
import LayoutMain from "^layouts/LayoutMain.astro";
import CommunityDaySchedule from "^components/schedule/CommunityDaySchedule.astro";

const pageTitle = "Community Day";
---
<LayoutMain subtitle={ pageTitle }>
  <h1>{ pageTitle }</h1>
  <h2>Schedule</h2>
  <CommunityDaySchedule />
  <p style="font-size: 12pt;">Last updated 2023 Jan 3</p>
</LayoutMain>
