---
import LayoutMain from "^layouts/LayoutMain.astro";
import CommunityDaySchedule from "^components/schedule/CommunityDaySchedule.astro";

const pageTitle = "Community Day";
---
<LayoutMain subtitle={ pageTitle }>
  <h1>{ pageTitle }</h1>
  <h2>Schedule</h2>
  <CommunityDaySchedule />
</LayoutMain>
