---
import LayoutMain from "^layouts/LayoutMain.astro";
import "^styles/events.scss";

const pageTitle = "Community Day";
---
<LayoutMain subtitle={ pageTitle }>
    <h1>{ pageTitle }</h1>

    <h2>Tabletop Role-Playing Game Sessions</h2>
    <article>
      <p>We are working to provide six different TTRPG experiences. Please check
        back later for session descriptions and registration.
      </p>
    </article>

<!--     <div class="links">
        <a href="https://forms.gle/j6LHScvfLjLZhdd48">TTRPG Registration</a>
    </div>
 --></LayoutMain>
