---
import LayoutMain from "^layouts/LayoutMain.astro";
import "^styles/events.scss";

const pageTitle = "Community Day";
---
<LayoutMain subtitle={ pageTitle }>
    <h1>{ pageTitle }</h1>

    <h2>Tabletop Role-Playing Game Sessions</h2>
    <article>
      <p>Whether you are an experienced player looking for a new tabletop experience
        or are brand-new to the hobby, we think you have plenty of options
        with the following TTRPG sessions.</p>
      <p>We'll provide everything you need to play. <a href="https://forms.gle/j6LHScvfLjLZhdd48">Register</a>
        to reserve your seat.</p>
    </article>

    <h3>Early Sessions: 12:30 &ndash; 3:30</h3>
    <div class="events">
        <div class="event ttrpg-session">
            <p class="session-title">Inderirri's Flame</p>
            <p class="session-system">Dungeons &amp; Dragons</p>
            <p class="session-subsystem">Fifth Edition</p>
            <p class="session-desc">A group of travelers get lost in the mountains during a snow storm while
                trying to get to the next town over for a Yuletide festival. However, when they duck into a
                cave, they find that safety is as simple as lighting a furnace for an old dragon.</p>
            <p class="session-room">1</p>
        </div>
        <div class="event ttrpg-session">
            <p class="session-title">The Heist</p>
            <p class="session-system">Fantasy Flight Star Wars</p>
            <p class="session-subsystem">Edge of the Empire</p>
            <p class="session-desc">The Empire is hoarding a cure for a vicious disease ravaging the planet of Rond
                somewhere off-world. Can our Rebel heroes get the cure to those who need it, or will the Empire
                be able to use it to keep the citizens of Rond in line?</p>
            <p class="session-room">2</p>
        </div>
        <div class="event ttrpg-session">
            <p class="session-title">D&amp;D For Beginners</p>
            <p class="session-system">Dungeons &amp; Dragons</p>
            <p class="session-subsystem">Fifth Edition</p>
            <p class="session-desc">Join two players-turned-DMs as they teach new players how to play D&amp;D 5e.
                Character creation and the basics will be covered in this new player-friendly adventure.</p>
            <p class="session-room">3</p>
        </div>
    </div>

    <h3>Late Sessions: 4:00 &ndash; 7:00</h3>
    <div class="events">
        <div class="event ttrpg-session">
            <p class="session-title">The Keeping</p>
            <p class="session-system">Dreadlore</p>
            <p class="session-subsystem">&nbsp;</p>
            <p class="session-desc">The Queen Otkatla of Norholk has given a party of Imperial miscreants
                (the Players) amnesty for their crimes. In return for her charity, the Queen asks the
                former fugitives to find and bring back a cure for the ailing Princess Isolde.</p>
            <p class="session-room">1</p>
        </div>
        <div class="event ttrpg-session">
            <p class="session-title">A Foundation For Families</p>
            <p class="session-system">Dungeons &amp; Dragons</p>
            <p class="session-subsystem">Fifth Edition</p>
            <p class="session-desc">The Clown Wizard has summoned adventurers to recover artifacts needed
                to build a new home for families whose children need attention from local healers. Can the players
                recover the artifacts and help build this home?</p>
            <p class="session-room">2</p>
        </div>
    </div>
</LayoutMain>
