---
import LayoutMain from "^layouts/LayoutMain.astro";
import "^styles/events.scss";

const pageTitle = "Community Day";
---
<LayoutMain subtitle={ pageTitle }>
    <h1>{ pageTitle }</h1>

    <h2>Tabletop Role-Playing Game Sessions</h2>
    <article>
      <p>Whether you are an experienced player looking for a new tabletop experience
        or are brand-new to the hobby, we think you have plenty of options
        with the following TTRPG sessions.</p>
      <p>We'll provide everything you need to play. <a href="https://forms.gle/j6LHScvfLjLZhdd48">Register</a>
        to reserve your seat.</p>
    </article>

    <h3>Early Sessions: 12:30 &ndash; 3:30</h3>
    <div class="events">
        <div class="event ttrpg-session">
            <p class="session-title">Inderirri's Flame</p>
            <p class="session-system">Dungeons &amp; Dragons<br><span class="session-subsystem">Fifth Edition</span></p>
            <p class="session-room">1</p>
        </div>
        <div class="event ttrpg-session">
            <p class="session-title">The Heist</p>
            <p class="session-system">Fantasy Flight Star Wars<br><span class="session-subsystem">Edge of the Empire</span></p>
            <p class="session-room">2</p>
        </div>
        <div class="event ttrpg-session">
            <p class="session-title">D&amp;D For Beginners</p>
            <p class="session-system">Dungeons &amp; Dragons<br><span class="session-subsystem">Fifth Edition</span></p>
            <p class="session-room">3</p>
        </div>
    </div>

    <h3>Late Sessions: 4:00 &ndash; 7:00</h3>
    <div class="events">
        <div class="event ttrpg-session">
            <p class="session-title">The Keeping</p>
            <p class="session-system">Dreadlore<br><span class="session-subsystem">&nbsp;</span></p>
            <p class="session-room">1</p>
        </div>
        <div class="event ttrpg-session">
            <p class="session-title">A Foundation For Families</p>
            <p class="session-system">Dungeons &amp; Dragons<br><span class="session-subsystem">Fifth Edition</span></p>
            <p class="session-room">2</p>
        </div>
    </div>
</LayoutMain>
