.confetti-center {
	position: absolute;
    bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.confetti-text {
    z-index: 10;
	font-size: 24pt;
    opacity: 0;

    transition: opacity 400ms ease-in-out;

	&.show {
        // animation:
        //     200ms ease-in  0s 1 normal  forwards fadeIn,
        //     500ms ease-out 3s 1 reverse forwards fadeIn
        // ;
        opacity: 1;
	}
}

.confetti-container {
    position: absolute;
    bottom: 0;
}

// @keyframes fadeIn {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }
