$gg-color-grey-bg: rgb(57, 61, 68);
$gg-color-grey-icon1: rgb(204, 204, 204);
$gg-color-grey-icon2: rgb(124, 124, 124);
$rmhc-color-gold: rgb(255, 200, 41);
$rmhc-color-red: rgb(218, 41, 28);

// prevent transitions from firing during initial render
// see https://css-tricks.com/transitions-only-after-page-load/
//
// In your DOMContentLoaded callback, add
// document.querySelectorAll('.preload').forEach((el) => { el.classList.remove('preload'); });
.preload * {
    transition: none !important;
}
