:root {
    --color-gng-grey-lt: rgb(204, 204, 204);
    --color-gng-grey-md: rgb(124, 124, 124);
    --color-gng-grey-dk: rgb(57, 61, 68);
    --color-gng-red: rgb(218, 41, 28);
    --color-gng-gold: rgb(255, 200, 41);

    --color-rmhc-red: rgb(228, 41, 38);

    /* paths are relative to consuming markup */
    --img-gng-logo-full: url("../../images/gg-logo-full.png");
    --img-gng-logo-square: url("../../images/gg-logo-square.png");
}
