---
import "../styles/giversandgamers.scss"
const { subtitle = "" } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerPolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/solid.min.css" integrity="sha512-uj2QCZdpo8PSbRGL/g5mXek6HM/APd7k/B5Hx/rkVFPNOxAQMXD+t+bG4Zv8OAdUpydZTU3UHmyjjiHv2Ww0PA==" crossorigin="anonymous" referrerPolicy="no-referrer" />

    <title>Givers &amp; Gamers{subtitle ? ` + ${subtitle}` : ""}</title>
  </head>

  <body>
    <div class="stripes"></div>

    <header class="logo">
      <div class="brand">
        <img class="brand-img" src="/images/icon-GG-die.svg">
        <div>
          <p class="brand-text">Givers<span class="amp">&amp;</span><wbr>Gamers</p>
          <p class="brand-tag">Gamers help keep families close when they need each other most</p>
        </div>
      </div>
      <div class="drips"></div>
    </header>

    <main>
      <slot />
    </main>

    { Astro.slots.footer && <footer>
      <slot name="footer" />
    </footer> }

  <script>
    import './main';
  </script>
  </body>
</html>
