---
import LayoutMain from "^layouts/LayoutMain.astro";
import "^styles/events.scss";

const pageTitle = "Events";
---
<LayoutMain subtitle={ pageTitle }>
  <h1>{ pageTitle }</h1>

  <div class="events">
    <section class="event">
        <h2><a href="/events/communityday/">Community Game&nbsp;Day</a></h2>
        <h3>Saturday, January 14, 2023<br>12:00pm&ndash;8:00pm</h3>
        <p>Join us at The Cornerstone for our first in-person event.</p>
    </section>

    <section class="event">
        <h2>Team Trivia</h2>
        <h3>February, 2023</h3>
        <p>Form a team or go it alone. Can you get the high score and earn the prize?</p>
    </section>

    <section class="event">
        <h2><a href="/events/streaming/schedule/">Streaming Weekend</a></h2>
        <h3>February 24&ndash;26, 2023</h3>
        <p>Play with us, watch the stream, or host your own partner stream.</p>
    </section>
  </div>

  <div class="events">
    <section class="event">
        <h2>PlayStation 5 raffle</h2>
        <h3>through February 26, 2023</h3>
        <p>Purchase a chance to win a new PlayStation 5. Each entry is $25, with a
          cap of 200 tickets to be sold. Drawing will be held at the close of our Streaming Weekend.</p>
    </section>
</div>
</LayoutMain>
