<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Givers &amp; Gamers + Goal Progress</title>
</head>

<body style="background-color: lightseagreen;">
  <div class="chart-container" style="position: relative;">
    <canvas id="gauge" aria-label="Givers and Gamers donation gauge" role="img">
      <p>Your browser can not display this canvas element.</p>
    </canvas>
  </div>

  <script type="module" src="./chart3.ts"></script>
</body>

</html>
