@use "/libs/styles/giversandgamers";

:root {
    --dim-progress-bar: 300px;
}

body {
    justify-content: center;
    align-items: center;
}

.progressbar-text {
    color: var(--color-gng-grey);
    font-size: 30pt;
}

div.container {
    width: var(--dim-progress-bar);
    height: var(--dim-progress-bar);
    background: url("/images/icon-GG-die.svg") no-repeat center / 80%;
}
